<h2><%= current_user.username.capitalize %>'s Projects</h2>
<% if @projects.nil? %>
  <p><%= "No Projects" %></p>
<% else %>
  <% @projects.each do |p| %>
  	<ul>
  	  <li><%= link_to(p.title, project_path(p.title))  %></li>
    </ul>
  <% end %>
<% end %>
<p><%= link_to("Create New Project", new_project_path) %></p>
