<h2>Add Category</h2>
<%= form_for @category, :url => create_category_path do |c| %>
	<p><%= c.text_field :name, :placeholder => "Name" %></p>
  	<p><%= c.submit "Make catagory", :class => 'submit' %></p>
<% end %>
